<div class="uploadform">
	<%= form_tag('/upload', :multipart => true) do -%>
	<table>
		<colgroup>
			<col style="width: 30%" />
			<col style="width: 70%" />
		</colgroup>
		<tr>
			<td>选择文件：</td>
			<td class="tdl"><input type="file" name="imgfile" class="fileselect" /></td>
		</tr>
		<tr>
			<td colspan="2"><input type="submit" name="submit" class="fileupload" value="下一步" /></td>
		</tr>
	</table>
	<% end -%>
</div>
