<table class="sample">
	<tr>
		<td><a href="/sample/a.jpg" target="_blank"><img src="/sample/a.jpg"></a></td>
		<td><a href="/sample/b.jpg" target="_blank"><img src="/sample/b.jpg"></a></td>
		<td><a href="/sample/c.jpg" target="_blank"><img src="/sample/c.jpg"></a></td>
	</tr>
</table>