<div class="preview">
	<div class="preview-a">
		<a href="/sample/a.jpg" target="_blank"><img src="/sample/a.jpg"></a>
	</div>
	<div class="preview-b">
		<a href="/sample/b.jpg" target="_blank"><img src="/sample/b.jpg"></a>
	</div>
	<div class="preview-c">
		<a href="/sample/c.jpg" target="_blank"><img src="/sample/c.jpg"></a>
	</div>
</div>
<table class="ms">
	<tbody>
	<tr>
		<td>
			<a href="/sample/m/M1.jpg" target="_blank"><img src="/sample/m/M1.jpg" style="width:125px"></a>
			<p>M1</p>
		</td>
		<td>
			<a href="/sample/m/M2.jpg" target="_blank"><img src="/sample/m/M2.jpg" style="width:125px"></a>
			<p>M2</p>
		</td>
		<td>
			<a href="/sample/m/M3.jpg" target="_blank"><img src="/sample/m/M3.jpg" style="width:125px"></a>
			<p>M3</p>
		</td>
		<td>
			<a href="/sample/m/M4.jpg" target="_blank"><img src="/sample/m/M4.jpg" style="width:125px"></a>
			<p>M4</p>
		</td>
		<td>
			<a href="/sample/m/M5.jpg" target="_blank"><img src="/sample/m/M5.jpg" style="width:125px"></a>
			<p>M5</p>
		</td>
		<td>
			<a href="/sample/m/M6.jpg" target="_blank"><img src="/sample/m/M6.jpg" style="width:125px"></a>
			<p>M6</p>
		</td>
		<td>
			<a href="/sample/m/M7.jpg" target="_blank"><img src="/sample/m/M7.jpg" style="width:125px"></a>
			<p>M7</p>
		</td>
		<td>
			<a href="/sample/m/M8.jpg" target="_blank"><img src="/sample/m/M8.jpg" style="width:125px"></a>
			<p>M8</p>
		</td>
	</tr>
	<tr>
		<td>
			<a href="/sample/m/M9.jpg" target="_blank"><img src="/sample/m/M9.jpg" style="width:125px"></a>
			<p>M9</p>
		</td>
		<td>
			<a href="/sample/m/M10.jpg" target="_blank"><img src="/sample/m/M10.jpg" style="width:125px"></a>
			<p>M10</p>
		</td>
		<td>
			<a href="/sample/m/M11.jpg" target="_blank"><img src="/sample/m/M11.jpg" style="width:125px"></a>
			<p>M11</p>
		</td>
		<td>
			<a href="/sample/m/M12.jpg" target="_blank"><img src="/sample/m/M12.jpg" style="width:125px"></a>
			<p>M12</p>
		</td>
		<td>
			<a href="/sample/m/M13.jpg" target="_blank"><img src="/sample/m/M13.jpg" style="width:125px"></a>
			<p>M13</p>
		</td>
		<td>
			<a href="/sample/m/M14.jpg" target="_blank"><img src="/sample/m/M14.jpg" style="width:125px"></a>
			<p>M14</p>
		</td>
		<td>
			<a href="/sample/m/M15.jpg" target="_blank"><img src="/sample/m/M15.jpg" style="width:125px"></a>
			<p>M15</p>
		</td>
		<td>
			<a href="/sample/m/M16.jpg" target="_blank"><img src="/sample/m/M16.jpg" style="width:125px"></a>
			<p>M16</p>
		</td>
	</tr>
	<tr>
		<td>
			<a href="/sample/m/M17.jpg" target="_blank"><img src="/sample/m/M17.jpg" style="width:125px"></a>
			<p>M17</p>
		</td>
		<td>
			<a href="/sample/m/M18.jpg" target="_blank"><img src="/sample/m/M18.jpg" style="width:125px"></a>
			<p>M18</p>
		</td>
		<td>
			<a href="/sample/m/M19.jpg" target="_blank"><img src="/sample/m/M19.jpg" style="width:125px"></a>
			<p>M19</p>
		</td>
		<td>
			<a href="/sample/m/M20.jpg" target="_blank"><img src="/sample/m/M20.jpg" style="width:125px"></a>
			<p>M20</p>
		</td>
		<td>
			<a href="/sample/m/M21.jpg" target="_blank"><img src="/sample/m/M21.jpg" style="width:125px"></a>
			<p>M21</p>
		</td>
		<td>
			<a href="/sample/m/M22.jpg" target="_blank"><img src="/sample/m/M22.jpg" style="width:125px"></a>
			<p>M22</p>
		</td>
		<td>
			<a href="/sample/m/M23.jpg" target="_blank"><img src="/sample/m/M23.jpg" style="width:125px"></a>
			<p>M23</p>
		</td>
		<td>
			<a href="/sample/m/M24.jpg" target="_blank"><img src="/sample/m/M24.jpg" style="width:125px"></a>
			<p>M24</p>
		</td>
	</tr>
	<tr>
		<td>
			<a href="/sample/m/M25.jpg" target="_blank"><img src="/sample/m/M25.jpg" style="width:125px"></a>
			<p>M25</p>
		</td>
		<td>
			<a href="/sample/m/M26.jpg" target="_blank"><img src="/sample/m/M26.jpg" style="width:125px"></a>
			<p>M26</p>
		</td>
		<td>
			<a href="/sample/m/M27.jpg" target="_blank"><img src="/sample/m/M27.jpg" style="width:125px"></a>
			<p>M27</p>
		</td>
		<td>
			<a href="/sample/m/M28.jpg" target="_blank"><img src="/sample/m/M28.jpg" style="width:125px"></a>
			<p>M28</p>
		</td>
		<td>
			<a href="/sample/m/M29.jpg" target="_blank"><img src="/sample/m/M29.jpg" style="width:125px"></a>
			<p>M29</p>
		</td>
		<td>
			<a href="/sample/m/M30.jpg" target="_blank"><img src="/sample/m/M30.jpg" style="width:125px"></a>
			<p>M30</p>
		</td>
		<td>
			<a href="/sample/m/M31.jpg" target="_blank"><img src="/sample/m/M31.jpg" style="width:125px"></a>
			<p>M31</p>
		</td>
		<td>
			<a href="/sample/m/M32.jpg" target="_blank"><img src="/sample/m/M32.jpg" style="width:125px"></a>
			<p>M32</p>
		</td>
	</tr>
	<tr>
		<td>
			<a href="/sample/m/M33.jpg" target="_blank"><img src="/sample/m/M33.jpg" style="width:125px"></a>
			<p>M33</p>
		</td>
		<td>
			<a href="/sample/m/M34.jpg" target="_blank"><img src="/sample/m/M34.jpg" style="width:125px"></a>
			<p>M34</p>
		</td>
		<td>
			<a href="/sample/m/M35.jpg" target="_blank"><img src="/sample/m/M35.jpg" style="width:125px"></a>
			<p>M35</p>
		</td>
		<td>
			<a href="/sample/m/M36.jpg" target="_blank"><img src="/sample/m/M36.jpg" style="width:125px"></a>
			<p>M36</p>
		</td>
		<td>
			<a href="/sample/m/M37.jpg" target="_blank"><img src="/sample/m/M37.jpg" style="width:125px"></a>
			<p>M37</p>
		</td>
		<td>
			<a href="/sample/m/M38.jpg" target="_blank"><img src="/sample/m/M38.jpg" style="width:125px"></a>
			<p>M38</p>
		</td>
		<td>
			<a href="/sample/m/M39.jpg" target="_blank"><img src="/sample/m/M39.jpg" style="width:125px"></a>
			<p>M39</p>
		</td>
		<td>
			<a href="/sample/m/M40.jpg" target="_blank"><img src="/sample/m/M40.jpg" style="width:125px"></a>
			<p>M40</p>
		</td>
	</tr>
	<tr>
		<td>
			<a href="/sample/m/M41.jpg" target="_blank"><img src="/sample/m/M41.jpg" style="width:125px"></a>
			<p>M41</p>
		</td>
		<td>
			<a href="/sample/m/M42.jpg" target="_blank"><img src="/sample/m/M42.jpg" style="width:125px"></a>
			<p>M42</p>
		</td>
		<td>
			<a href="/sample/m/M43.jpg" target="_blank"><img src="/sample/m/M43.jpg" style="width:125px"></a>
			<p>M43</p>
		</td>
		<td>
			<a href="/sample/m/M44.jpg" target="_blank"><img src="/sample/m/M44.jpg" style="width:125px"></a>
			<p>M44</p>
		</td>
		<td>
			<a href="/sample/m/M45.jpg" target="_blank"><img src="/sample/m/M45.jpg" style="width:125px"></a>
			<p>M45</p>
		</td>
		<td>
			<a href="/sample/m/M46.jpg" target="_blank"><img src="/sample/m/M46.jpg" style="width:125px"></a>
			<p>M46</p>
		</td>
		<td>
			<a href="/sample/m/M47.jpg" target="_blank"><img src="/sample/m/M47.jpg" style="width:125px"></a>
			<p>M47</p>
		</td>
		<td>
			<a href="/sample/m/M48.jpg" target="_blank"><img src="/sample/m/M48.jpg" style="width:125px"></a>
			<p>M48</p>
		</td>
	</tr>
</tbody>
</table>
<table class="total">
	<tbody>
	<tr>
		<td>规格</td>
		<td>个数</td>
		<td rowspan="11">共 4800</td>
	</tr>
	<tr>
		<td>1</td>
		<td>860</td>
	</tr>
	<tr>
		<td>2</td>
		<td>834</td>
	</tr>
	<tr>
		<td>3</td>
		<td>849</td>
	</tr>
	<tr>
		<td>4</td>
		<td>615</td>
	</tr>
	<tr>
		<td>5</td>
		<td>361</td>
	</tr>
	<tr>
		<td>6</td>
		<td>284</td>
	</tr>
	<tr>
		<td>7</td>
		<td>268</td>
	</tr>
	<tr>
		<td>8</td>
		<td>192</td>
	</tr>
	<tr>
		<td>9</td>
		<td>212</td>
	</tr>
	<tr>
		<td>10</td>
		<td>325</td>
	</tr>
</tbody>
</table>