*{margin:0;padding:0;}
body{margin:0;padding:0;font-size:12px;color:#333;text-align:center;font-family:SimSun, Microsoft Yahei;}
form,ul,ul li,p{margin:0;padding:0;}
ul, ul li{list-style:none;}
a{color:#006FFD;text-decoration:none;}
a:hover{color:#006FFD;text-decoration:underline;}
a.pub{color:#FF0000 !important;text-decoration:none;}
a.pub:hover{text-decoration:underline;}
img{border:0px;}
.clearfix:after {content:"."; display:block; height:0; clear:both; visibility:hidden; }
* html>body .clearfix { display:inline-block; width:100%; }
* html .clearfix { height:1%; /* End hide from IE-mac */ } 
/* ie7 hack*/ 
*+html .clearfix { min-height:1%; } 
.clearfix{zoom:1;} 
.l{float:left;display:inline;}
.r{float:right;display:inline;}

h1, h2, h3, h4, h5, h6{margin: 0;padding: 0;}
input, option, select, textarea, button {font-size: 12px;}

#Container{width:100%;text-align:center;margin:0 auto;background:#FFF;}
.wapper{margin:0 auto;width:1000px;text-align:left;}

#Header{height:80px;}
.logo{padding:10px 60px 0 10px;height:30px;line-height:30px;font-size:24px;font-weight:bold;letter-spacing:4px;}


#Nav{background:#414E5F;}
.nav{}
.nav li{float:left;display:inline;border-left:1px solid #F8F8F8;}
.nav li.first{border:0;}
.nav li a{position:relative;display:block;width:120px;height:40px;line-height:40px;text-align:center;font-size:14px;color:#FFF;}
.nav li a:hover{background:#D2D8CA;text-decoration:none;color:#000;}
.nav li a:hover .subnav{display:block;}
.nav li .subnav{display:none;position:absolute;background:#CCC;border-spacing:0;border-collapse:collapse;}
.nav li .subnav td{border-right:1px solid #F8F8F8;}
.nav li .subnav a{height:32px;line-height:32px;color:#000;}
.nav li .subnav a:hover{background:#FFCD40;}

#PageBody{}

#Footer{border-top:1px solid #CCC;}
.foot{padding:20px 0;}


.uploadform{margin:100px 0;text-align:center;}
.uploadform table{margin:0 auto;width:800px;}
.uploadform td{padding:20px 0;text-align:center;}
.uploadform td.tdl{text-align:left;}
.uploadform td.tdl input{margin:0 4px 0 10px;}
.uploadform input{line-height:20px;}
.minInput{width:50px;text-align:center;}
.fileupload{margin:40px 0;padding:8px 40px;}

.sample{margin:80px 0;width:999px;border-spacing:0;border-collapse:collapse;}
.sample td{width:333px;}
.sample td img{width:333px;}

.box{padding:40px 0;}

.panel{width:580px;text-align:center;}
.panel img{max-width:560px;}

.ops{width:400px;text-align:center;}

.preview{position:relative;text-align:left;}
.preview img{width:400px;}
.mask{position:absolute;top:0;left:0;z-index:1;display:block;width:100px;height:100px;background:#666;border:1px solid #FFF;opacity:.6;}
.mask-i{position:relative;top:50%;left:50%;z-index:2;display:block;margin:-15px 0 0 -50px;width:100px;height:30px;line-height:30px;text-align:center;color:#FFF;}
.preview-i{text-align:center;}

.m-preview{text-align:center;}
.m-preview p{line-height:60px;font-weight:bold;font-size:14px;}
.m-list{position:relative;width:560px;height:120px;}
.m-list-nav{position:absolute;top:0;display:block;width:20px;height:120px;line-height:120px;background:#EEE;text-align:center;cursor:pointer;}
.nav-l{left:0;}
.nav-r{right:0;}
.nav-disabled{opacity:.6;}
.m-list-con{position:relative;margin:0 auto;width:502px;height:120px;background:#FFF;overflow:hidden;}
.tbox{position:absolute;top:0;z-index:2;display:block;width:100px;height:100px;border:1px solid #333;}
.m-list-con table{position:absolute;top:0;left:0;z-index:1;border-collapse:collapse;border-spacing:0;}
.m-list-con img{width:100px;cursor:pointer;}
.m-list-con p{padding:0;height:20px;line-height:20px;text-align:center;font-size:14px;font-weight:bold;color:#000;}

.total{margin:0 auto;width:360px;border-collapse:collapse;border-spacing:0;}
.total td{width:120px;padding:10px;border:1px solid #CCC;}

a.op{display:block;margin:50px auto 0;width:160px;height:40px;line-height:40px;border:1px solid #CCC;background:#F8F8F8;text-align:center;letter-spacing:4px;text-decoration:none;}
a.op:hover{background:#EEE;text-decoration:none;}


